/* stuck to the bottom */
/* centered */
.array-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  bottom: 50px;
}

.array-bar {
  width: 0.5%;
  margin: 0 0.1rem;
}

/* navbar fixed at bottom */
.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01cdfe;
  color: white;
  text-align: center;
}

.navbar button {
  background-color: #01cdfe;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: white;
  color: #01cdfe;
}
